// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #001A4C;
$secondary: #C5D7F9; 
$danger: #f28b82;
$tertiary: #001D56;

$input-border-radius: 1px; 

$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$btn-border-radius: 0;

@import '~bootstrap/scss/bootstrap';

body {
  overflow-x: hidden;
}

.img-hover-scale {
    overflow: hidden;
}

.img-hover-scale img {
    transition: all 0.5s;
}

.img-hover-scale img:hover {
    transform: scale(1.2);
}

/* Icons */
.bg-tertiary {
  background-color: $tertiary;
}

.pt-nav-height {
  padding-top: 8rem;
}

.container-rect {
  width: 8rem;
  height: 8rem;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: #001D56;
  color: #001D56;
}

.icon-light {
  fill: $light !important;
  color: $light !important;
}

.icon-secondary {
  fill: $secondary !important;
  color: $secondary !important;
}


.icon-small {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

.icon-large {
  width: 3rem !important;
  height: 3rem !important;
}

.icon-very-large {
  width: 5rem !important;
  height: 5rem !important;
}

  
