.section--team .section__title {
    padding-top: var(--nav-height);
}

.section--company-history .section__title {
    margin-bottom: 2rem;
}

.team .section__title,
.team .section__subtitle
{
    text-align: center;
}

.team__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.team__person {
    flex: 0 1 100%;
}

.corevalues {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.corevalues__item {
    flex: 0 1 100%;
}

.corevalue {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.corevalue__title {
    font-weight: bold;
    font-size: 1rem;
}

.corevalue__paragraph {
    font-weight: lighter;
    font-size: 0.9rem;
}

.reasons {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.reason {
    flex: 1 1 100%;
}

.reason__title {
    font-size: 1rem;
    font-weight: bold;
}

.why-us .section__title,
.why-us .section__subtitle 
{
    text-align: center;
}

/* sm */
@media (min-width: 576px) {    
    .team__person {
        flex: 0 1 max-content;
    }
}
  
/* md */
@media (min-width: 768px) {    
    .corevalues__item {
        flex: 0 1 calc((100% - 3rem) / 2); 
    }    

    .reason {
        flex: 1 1 0;
    }
}
  
/* lg */
@media (min-width: 992px) {    

}

/* xl */
@media (min-width: 1200px) {    

}

/* xxl */
@media (min-width: 1400px) {    

}