.card-avatar img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: block;
}

.card-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.card-rating svg {
    fill: var(--clr-yellow);
    stroke: rgba(0, 0, 0, 0.796);
    stroke-width: 0.8px;
}