.Contact .section {
    padding-block: 1.5rem;
}

.Contact .form-section {
  
    background-image: url("../images/contact-pool-water.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    min-height: 500px;
    padding-block: 50px;
}

.Contact .form-title {
    font-size: var(--fs-secondary-heading);
    margin-bottom: var(--size-600);
    text-align: center;
    border: 0;
    font-weight: var(--fw-regular);
}

.Contact .form {
    background-color: white;
    position: relative;
    top: 4rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.466);
    padding-inline: var(--size-700);
    padding-block: var(--size-600);
    border-radius: var(--size-200);
    display: block;
    margin-inline:  auto;
    width: 100%;
}

.Contact .form-element {
    margin-block: var(--size-400);
}

.Contact .form-label {
    font-weight: var(--fw-bold);
}


.Contact .form-textinput {
    display: block;
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 0.1rem;
    height: 2.8rem;
    padding: 1rem;
}

.Contact .form-textinput::placeholder {
    color: var(--clr-muted)
}

.Contact .form-textarea::placeholder {
    color: var(--clr-muted)
}

.Contact .form-textarea {
    display: block;
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 0.1rem;
    padding: 1rem;
}

.Contact .form .btn {
    margin-top: var(--size-600);
    margin-inline: auto;
}

.Contact .map {
    max-width: 30rem;
    margin-left: 0;
}


.Contact .section-title {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-bold);
    margin-bottom: var(--size-400);
    text-align: left;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.Contact .contact-social-media-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.Contact .section.communication {
    margin-top: 15rem;
}


@media (min-width: 576px) {
    .Contact .form {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .Contact .form {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .Contact .form {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .Contact .form {
        width: 60%;
    }
}

@media (min-width: 1400px) {
    .Contact .form {
        width: 55%;
    }
}