.hero {
    padding-top: var(--nav-height);
    background-image: url("../images/hero-image-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 35rem;
    display: flex;
    align-items: start;
    justify-content: center;
}
