.hero {
    padding-top: var(--nav-height);
    background-image: url("../images/hero-image-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    min-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home .hero-title {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    margin-bottom: var(--size-300);
    text-align: center;
    color: var(--clr-light);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.393);
    line-height: var(--ln-primary-heading);
}

.Home .hero-subtitle {
    font-size: var(--fs-primary-subheading);
    font-weight: var(--fw-semibold);
    margin-bottom: var(--size-600);
    text-align: center; 
    color: var(--clr-light); 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.393);  
}

.Home .hero .btn {
    margin-block: var(--size-700);
}

.Home .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.Home .gallery {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.Home .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.Home .cta-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.Home .clients {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.Home .testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: stretch;
    justify-content: center;
}

@media (min-width: 768px) {

    .Home .services .section-title {
        text-align: left;
    }

    .Home .services .section-paragraph {
        text-align: left;
    }

    .Home .services-grid {
        grid-template-columns: 1fr 1fr;
    }

    .Home .cta .section-title {
        text-align: left;
    }

    .Home .cta .section-paragraph {
        text-align: left;
    }

    .Home .cta .btn {
        margin-left: 0;
    }

    .Home .cta-grid {
        grid-template-columns: 1fr 1fr;
    }

    .Home .testimonials-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}