

.main-nav {
    height: var(--nav-height);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    min-width: 320px;
}

.main-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.nav-logo img {
    width: 12rem;
}

.nav-list {
    display: none;
}

.nav-link {
    padding: 0.7rem 0.9rem;
    border-radius: 0.2rem;
    font-size: var(--fs-nav);
    font-weight: var(--fw-regular);
    color: var(--clr-dark);
}

.nav-link:hover {
    background-color: var(--nav-link-hover-color);
}

.nav-toggle-button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem;
}

.nav-toggle-button:hover {
    background-color: var(--offnav-link-hover-color);
}

.nav-toggle-button img{
    width: 1.6rem;
    height: 1.6rem;
}

.offnav {
    background-color: #001b4ce9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    transition: width 0.5s;
    z-index: 999;
    overflow: hidden;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.345);
    backdrop-filter: blur(5px);
}

.offnav.visible {
    width: 100%;
}

.offnav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5rem 1rem;
}

.offnav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.offnav-close-button {
    border: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem;
}

.offnav-close-button img {
    width: 1.6rem;
    height: 1.6rem;
}

.offnav-close-button:hover {
    background-color: rgba(255, 255, 255, 0.17);
}

.offnav-item {
    width: 100%;
    border-bottom: 1px solid rgba(226, 226, 226, 0.204);
}

.offnav-link {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--clr-light);
    padding: 0.7rem 0.9rem;
    border-radius: 0.2rem;
    font-size: var(--fs-nav);
    font-weight: var(--fw-regular);
}

.offnav-link img {
    width: 1rem;
    height: 1rem;
    margin-inline: 0;
}

.offnav-link:hover {
    background-color: rgba(255, 255, 255, 0.17);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-logo img {
    width: 13rem;
}

.footer-about-company {
    width: 100%;
    text-align: center;
    margin-inline: auto;
}

.company-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-block: var(--size-600);
}

.company-info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
}

.company-info-item-container {
    background-color: var(--clr-light);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.company-info-item svg {
    width: 1rem;
    height: 1rem;
    fill: var(--clr-primary);
}

.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-social-media-container {
    background-color: var(--clr-light);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--clr-primary);
}


@media (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-toggle-button {
        display: none;
    }

    .footer-about-company {
        width: 60%;
    }
}

@media (min-width: 576px) {
    .company-info-item {
        width: max-content;
    }

    .offnav.visible {
        width: 15rem;
    }

    .offnav-link {
        justify-content: start;
    }
}