@import "tailwindcss";
@source "../../**/*.{html,js}";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "synthwave";
  default: true;
  --color-base-100: oklch(15% 0.09 281.288);
  --color-base-200: oklch(20% 0.09 281.288);
  --color-base-300: oklch(25% 0.09 281.288);
  --color-base-content: oklch(78% 0.115 274.713);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(29% 0.066 243.157);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(45% 0.24 277.023);
  --color-neutral-content: oklch(87% 0.065 274.039);
}

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

@layer components {
  .card {
    @apply bg-base-200 p-8 !rounded-sm border-1 border-base-300;
  }

  .container {
    @apply px-2 sm:px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
  }
}

.show-nav {
  width: 100%;
}

.show-accordion {
  height: 100%;
}
